.ptron-stage{
    position: absolute;
    margin-top: 70px;
    margin-left: 15px;
    animation-name: stageAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes stageAnimation{
    0%{
        margin-top: -500px;
    }
}