.game {
    margin: 0;
    display: flex;
}

.board {
    display: flex;
    margin-top: 100px;
    margin-left: 100px;
}

.col +.col {
    margin-left: -15px;
    margin-right: 15px;
    padding: initial;
}

.piece {
    padding: 0;
    max-width: 50px;
    width: 50px;
    height: 50px;
    border: 0 solid lightblue;
    
}

.virtual-piece{
    padding: 0;
    margin: 0;
    max-width: 50px;
    width: 50px;
    height: 50px;
    
}

.vp1{
    position: relative;
    width: 47px;
    height: 47px;
    border-radius: 10px;
    animation-name: virtualPiece1;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.vp2{
    position: relative;
    width: 47px;
    height: 47px;
    border-radius: 10px;
    animation-name: virtualPiece2;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes virtualPiece1{
    0%{
        background-color: white;
    }
    100%{
        background-color: #f0bb58b7;
    }
}

@keyframes virtualPiece2{
    0%{
        background-color: white;
    }
    100%{
        background-color:  #00335fab;
    }
}

.p1 {
    position: relative;
    width: 47px;
    height: 47px;
    border-radius: 10px;
    background-color:  #f0bb58;
    animation-name: p1animation;
    animation-duration: 0.2s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes p1animation{
    0%{
        background-color: #d1d1d1;
    }
    100%{
        background-color: #f0bb58;
    }
}

.p1finished {
    position: relative;
    width: 47px;
    height: 47px;
    border-radius: 10px;
    background-color: #f0bb58;
}

.null {
    position: relative;
    width: 47px;
    height: 47px;
    border-radius: 10px;
    background-color: #d1d1d1;
}

.p2 {
    position: relative;
    width: 47px;
    height: 47px;
    border-radius: 10px;
    background-color: #d1d1d1;
    animation-name: p2animation;
    animation-duration: 0.2s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.p2finished{
    position: relative;
    width: 47px;
    height: 47px;
    border-radius: 10px;
    background-color: #00325F;
}
  
@keyframes p2animation{
    0%{
        background-color: #d1d1d1;
    }
    100%{
        background-color: #00325F;
    }
}

.connectFourDes{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    font-family: monospace;
    animation-name: descriptionAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes descriptionAnimation{
    0%{
        color: white;
    }
}

.loadingImgN{
    margin-top: 19%;
}

.loadingImgT{
    margin-top: -30%;
}